.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .btn {
    padding: 5px 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .btnSubscribed {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
  }
  